<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div>
      <br/>
      <app-user-avatar [userId]="userId"></app-user-avatar>
      <br/>
      <form>
        <div class="form-group">
          <input (change)="onAvatarChange($event)" class="form-control" id="avatarInput" name="avatar" type="file">
        </div>
        <button (click)="onBtnSubmitAvatarClick()" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<br/><br/><br/>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div>
      <form>
        <div class="form-group">
          <label for="emailInput">Email:</label>
          <input [(ngModel)]="userUpdate.email" class="form-control" id="emailInput" name="email" type="email">
        </div>
        <div class="form-group">
          <label for="nameInput">Name:</label>
          <input [(ngModel)]="userUpdate.fullName" class="form-control" id="nameInput" name="fullName" type="email">
        </div>
        <div class="form-group">
          <label for="dateOfBirthInput">Date of birth:</label>
          <input [(ngModel)]="userUpdate.dateOfBirth" class="form-control" id="dateOfBirthInput" name="dateOfBirth"
                 type="date">
        </div>
        <div class="form-group">
          <label for="musicalInstrumentsInput">Musical instruments:</label>
          <input [(ngModel)]="musicalInstruments" class="form-control" id="musicalInstrumentsInput"
                 name="musicalInstruments" type="text">
        </div>
        <button (click)="onBtnSubmitUpdateClick()" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
