<div>
  <h3>{{ user.username }}</h3><br/>
  <app-subscription [subscriptionId]="userId"></app-subscription><br/><br/>
  <app-user-avatar [userId]="userId"></app-user-avatar><br/><br/>
  <table>
    <tr>
      <td>Name:</td>
      <td>{{ user.fullName }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr *ngIf="user.dateOfBirth">
      <td>Date of birth:</td>
      <td>{{ user.dateOfBirth | date:'yyyy-MM-dd' }}</td>
    </tr>
    <tr *ngIf="user.musicalInstruments && user.musicalInstruments.length > 0">
      <td>Musical instruments:</td>
      <td>{{ user.musicalInstruments.join(', ') }}</td>
    </tr>
  </table>
</div>
