<div *ngIf="userId !== subscriptionId">
  <div *ngIf="isSubscribed; then unsubscribeBlock; else subscribeBlock"></div>
</div>

<ng-template #subscribeBlock>
  <button (click)="onBtnSubscribeClick()" type="button" class="btn btn-danger"><a href="#"><i class="fas fa-bell"></i> Subscribe</a></button>&nbsp;
</ng-template>

<ng-template #unsubscribeBlock>
  <button (click)="onBtnUnsubscribeClick()" type="button" class="btn btn-warning"><a href="#"><i class="fas fa-bell-slash"></i> Unsubscribe</a></button>&nbsp;
</ng-template>
