<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div>
      <form>
        <div class="form-group">
          <label for="usernameInput">Username:</label>
          <input type="text" class="form-control" id="usernameInput">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password:</label>
          <input type="password" class="form-control" id="passwordInput">
        </div>
        <div class="form-group">
          <label for="passwordConfirmationInput">Password confirmation:</label>
          <input type="password" class="form-control" id="passwordConfirmationInput">
        </div>
        <div class="form-group">
          <label for="emailInput">Email:</label>
          <input type="email" class="form-control" id="emailInput">
        </div>
        <div class="form-group">
          <label for="nameInput">Name:</label>
          <input type="email" class="form-control" id="nameInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
